//GLOBAL
.thnks-wrap{
  width: 100%;
  background-color:#FFFFFF;
  margin:50px auto;
  padding:40px 25px;
  border:1px solid #eaeaea;
  border-radius:10px;
  max-width: 992px;
  @media only screen and (max-width: 767px){
    padding:30px 5px;
    margin:25px auto;
  }
}
.container{
  width:100%;
  max-width: 880px;
  margin:0 auto;
  padding:0 15px;
}
.row{
  width:100%;
  display:block;
}
.mb-10{
  margin-bottom:10px;
}
.mt-10{
  margin-top:10px;
}
.mb-20{
  margin-bottom:20px;
}
.mt-20{
  margin-top:20px;
}
.mb-30{
  margin-bottom:30px;
}
.mt-30{
  margin-top:30px;
}
.mb-40{
  margin-bottom:40px;
}
.mt-40{
  margin-top:40px;
}
.mb-50{
  margin-bottom:50px;
}
.mt-50{
  margin-top:50px;
}
.mt-60{
  margin-top:60px;
}
.mb-60{
  margin-bottom:60px;
}
.mt-80{
  margin-top:80px;
}
.mb-80{
  margin-bottom:80px;
}

//INLCUDE TEMPLATES
@import 'templates/simple-template.scss';